body {
    margin: 0;
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #202124;
}

div.about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Nunito', sans-serif;
}

h1.about-name {
    font-size: 72px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}

h2.about-handle {
    font-size: 48px;
    font-weight: 600;
    margin: 16px;
    margin-bottom: 46px;
    border-radius: 10px;
}


h2.about-handle a {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

h2.about-handle a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

div.about-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px
}

div.about-list div {
    display: flex;
    list-style-type: none;
    font-size: 30px;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px;
}

div.about-list div a {
    text-decoration: none;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

div.about-list div:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid transparent;
}

div.about-list div:active {
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.2);
}
