<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Younghun Roh</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="about-card">
    <h1 class="about-name">Younghun Roh</h1>
    <h2 class="about-handle"><a>Diuven</a></h2>
    <div class="about-list">
      <div><a target="_blank" href="https://diuven.notion.site">About</a></div>
      <div><a target="_blank" href="/blog">Blog</a></div>
      <div><a target="_blank" href="mailto:yhunroh@gmail.com">Email</a></div>
      <div><a target="_blank" href="https://github.com/diuven">Github</a></div>
    </div>
  </div>
</body>

</html>
